.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #80d89a;
}

.logo input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 420px;
}

.logo button {
  border: none;
  padding: 10px 15px; /* Tomando los valores más recientes */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 9px;
  background-color: #007bff; /* Tomando el color más reciente */
  color: white; /* Tomando el color más reciente */
  border-radius: 4px; /* Tomando el border-radius más reciente */
  font-size: 1em; /* Tomando el font-size más reciente */
}

.logo button img {
  width: 20px;
  height: 20px;
}

.menu {
  background-color: #b0ea9f;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
}
.text {
  color: #000000;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 5px 0;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease-in-out;
}

.menu a:hover::after {
  width: 100%;
}

.parrafo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  color: #000000;
  margin-top: 40px;
  margin-right: 180px;
  margin-left: 180px;
}

@media (max-width: 768px) {
  .logo {
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
  }

  .logo input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  .logo button {
    margin-left: 0;
    border-radius: 5px;
  }

  .menu {
    padding: 10px;
    gap: 10px; /* Reducir el espacio entre los elementos del menú */
  }

  .menu a {
    padding: 5px 8px; /* Ajustar el padding de los enlaces */
    font-size: 0.9em; /* Reducir un poco el tamaño de la fuente si es necesario */
  }

  .parrafo {
    font-size: 18px; /* Reducir el tamaño de la fuente del párrafo */
    margin-right: 30px; /* Reducir los márgenes laterales */
    margin-left: 30px;
  }
}

/* Media query para pantallas aún más pequeñas (celulares) */
@media (max-width: 480px) {
  .logo {
    padding: 15px;
  }

  .logo button img {
    width: 18px;
    height: 18px;
  }

  .menu {
    padding: 8px;
    gap: 5px; /* Reducir aún más el espacio entre los elementos del menú */
  }

  .menu a {
    font-size: 0.8em; /* Reducir aún más el tamaño de la fuente si es necesario */
    padding: 5px 5px; /* Ajustar aún más el padding de los enlaces */
  }

  .parrafo {
    font-size: 16px; /* Reducir aún más el tamaño de la fuente del párrafo */
    margin-right: 20px; /* Reducir aún más los márgenes laterales */
    margin-left: 20px;
    margin-top: 30px; /* Ajustar el margen superior */
  }
}
